body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(249, 246, 200);
}

.hidden {
  display: none;
}

h1 {
  font-size: 60px;
  color: #ffb2da;
}

p {
  font-size: 22px;
  color: #3e3b3b;
}

img {
  border-radius: 8px;
}

.cat-info {
  position: relative;
  display: flex;
  justify-content: space-around;
}
.cat-box {
  max-width: 40%;
}

.breed-select {
  display: block;
  background: white;
  outline: none;
  color: grey;
  border: none;
  width: 100%;
  max-width: 600px;
  overflow-y: scroll;
  margin: 0 auto;

  padding: 0 20px;
  font-size: 18px;
}
.ss-main {
  color: #3e3b3b;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
}

.breed-select-hidden {
  display: none;
}
.ss-content .ss-list .ss-option {
  color: #3e3b3b;
  font-size: 20px;
}
.loader {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border: 6px solid #a6f3dc;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: #ffb2da transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-hidden {
  display: none;
}

.cat-info-hidden {
  display: none;
}

.ss-main .ss-arrow path {
  stroke: #a6f3dc;
}
